// /////////////////////////////
// project variables ///////////
// /////////////////////////////

// colors
$light-grey: lightgrey;
$dark-grey: #555555;
$dark-pink: #E02749;
$red: #e53339;
$white: white;

$navy: #092f40;
$orange: #f26d21;
$blue: #1496bb;

$facebookBlue: #3b5998;
$twitterBlue: #4099ff;
// 
